:root{
    --cor-1st-letter : #fd8e35;
    --cor-2nd-letter : #93bddd;
    --cor-3rd-letter : #afd79f;
}

html, body {
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/***************************************** Page Layout *****************************************/       

div.navbar { position:relative; padding: 15px 15px 15px 11%; }
    .navbar > div.container {}
        div.navbar_brand {}
            span.title_1st_letter {}
            span.title_2st_letter {}
            span.title_3st_letter {}

section.text_section { display: block; height: 200px; margin-bottom: 2rem; padding: 2% 10% 5%; }
    .text_section > div.container { position: relative; height: 100%; padding: 0px; }
        div.famous_words { position: absolute; width: 100%; height: 100%; }
            p.words {}
            p.name {}

div.album { position: relative; }
    .album > div.container { margin: 0px auto; padding:0 15px; width:80%; }
        .album > .container > a { }
            .album > .container > a > button { display: inline-block; margin-bottom: -20px; margin-right: 14px; }

        div.row { padding: 34px; margin:0 auto; }
            div.sub_row { display: flex; justify-content: center; }
                div.card { position: relative; width: 325px; margin: 15px; }
                    img.card_img { width:100%; }
                    div.card_body { padding: 1.25rem; }
                        h4.card_title { margin: 0 0 .75rem 0; }
                        p.card_text {}

/***************************************** Decoration *****************************************/       

/*******************************
     Nav. Bar
 *******************************/
.navbar {
    background-color: #343a40;
}
.navbar_brand {
    color: #ccc;
    font-size: 24px;
}

a.navbar_brand,
a.navbar_brand:active,
a.navbar_brand:hover,
a.navbar_brand:visited,
a.navbar_brand:focus
{
    text-decoration:none;
}

.title_1st_letter { color: var(--cor-1st-letter); }
.title_2st_letter { color: var(--cor-2nd-letter); }
.title_3st_letter { color: var(--cor-3rd-letter); }


/*******************************
     Texts Container
 *******************************/

.text_section {
    text-align: center;
    background-color: #e9ecef;
}

.famous_words {
    font-weight: 200;
    line-height: 1.5;
    color: #212529;
}

.famous_words p:nth-child(1) {
    font-size:34px;
    color: #888E94 !important;
}

.famous_words p:nth-child(2) {
    font-size:24px;
    color: #bcc3ca !important;
}

/*******************************
     Album Container
 *******************************/

 .album .container > a {
    text-decoration: none;
 } 

 .album .container a:nth-child(1) { margin-left: 50px; }

 .album button {
    cursor: pointer;

    color: #868e96;
    background-color: transparent;
    background-image: none;

    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    border: 1px solid #868e96;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
 }
 
 .row#cars { background: #343a40; }
 .row .sub_row:nth-child(2),
 .row .sub_row:nth-child(3){ display: none; }
 
 .row:hover { cursor: pointer; background:#ccc; }
 .row:hover .sub_row:nth-child(2),
 .row:hover .sub_row:nth-child(3){ display: flex; }

 .card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
 }

 .card:hover { border: 4px solid #B0BE78; }
 .card:active { 
     margin:10px;
     width:335px;
 }

 .card img {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
 }

 .card_body {
    color: #868e96;
 }

 .card_title {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;

    font-size: 1.5rem;
 }

 .card_text { line-height: 1.5; }

/*******************************
      Responsive page
 *******************************/

/* the traditional smartphone portrait & landscape */
@media screen and (min-width:0px) and (max-width:480px)
{
    .famous_words p:nth-child(1),
    .famous_words p:nth-child(2) {
        font-size:20px;
    }

    .album .container {
        margin: 0px  !important;
        padding: 0px !important;
        width: 100%  !important;
    }

    .row {
        padding:0px !important;
        margin:0px  !important;
        width:100%  !important;
    }

    .row:hover { background: unset; }
    .row .sub_row{ display: block !important; }
    .row#cars {
        padding-top:1% !important;
        padding-bottom: 1% !important;
    }

    .card {
        float: none;
        width:85% !important;
        margin:40px auto !important;
    }

    .card:active { 
        margin:40px auto !important;
        width:86% !important;
    }
}

/* common style for smartphone and 1 Column Layout */
@media screen and (max-width:1000px)
{   
    .row .sub_row { display: block; }
    .album .container { text-align: center; }
    .album .container a:nth-child(1) { margin-left: 0; }
    /*.row#cars { background: transparent; }*/
}

/* 1 Column Layout */
@media screen and (min-width:480px) and (max-width:1000px)
{
    .famous_words p:nth-child(1) { font-size:24px; }
    .album .container { width: 425px; }
    .row .sub_row {
        display: flex !important;
        flex-wrap: wrap;
    }
}

/* 2 Column Layout */
@media screen and (min-width:1000px) and (max-width:1210px)
{
    .famous_words p:nth-child(1) { font-size:30px; }
    .album .container { width: 780px; }
    .row .sub_row { display: flex; }
}



/*******************************
      ANIMATION of TEXT
 *******************************/

.famous_words { opacity: 0; }
.famous_words:nth-child(1) { -webkit-animation:text_animation1 25s linear infinite; }
.famous_words:nth-child(2) { -webkit-animation:text_animation2 25s linear infinite; }
.famous_words:nth-child(3) { -webkit-animation:text_animation3 25s linear infinite; }
.famous_words:nth-child(4) { -webkit-animation:text_animation4 25s linear infinite; }
.famous_words:nth-child(5) { -webkit-animation:text_animation5 25s linear infinite; }
.famous_words:nth-child(6) { -webkit-animation:text_animation6 25s linear infinite; }
.famous_words:nth-child(7) { -webkit-animation:text_animation7 25s linear infinite; }
.famous_words:nth-child(8) { -webkit-animation:text_animation8 25s linear infinite; }
.famous_words:nth-child(9) { -webkit-animation:text_animation9 25s linear infinite; }
.famous_words:nth-child(10) { -webkit-animation:text_animation10 25s linear infinite; }

@-webkit-keyframes text_animation1 {
    0%  { top: 0px;     opacity: 1; z-index: 0; } /* stop */
    7.5% { top: 0px;    opacity: 1; z-index: 0; } /* stop */
    9.5% { top: 60px;   opacity: 0; z-index: 0; } /* fade out */
    10% { top: -20px;   opacity: 0; z-index: -1; }/* reset */
    93% { top: -20px;   opacity: 0; z-index: -1; }
    100% { top: 0px;    opacity: 1; z-index: 0; }
}

@-webkit-keyframes text_animation2 {
    0%  { top: -20px;  opacity: 0; z-index: -1; }
    7.5% { top: -20px; opacity: 0; z-index: -1; } /* fade in */
    9.5% { top: 0px;   opacity: 1; z-index: 0; }  /* stop */
    17% { top: 0px;    opacity: 1; z-index: 0; }  /* stop */
    19% { top: 60px;   opacity: 0; z-index: 0; } /* fade out */
    20% { top: -20px;  opacity: 0; z-index: -1; } /* reset */
}

@-webkit-keyframes text_animation3 {
    0%  { top: -20px;  opacity: 0; z-index: -1; }
    17% { top: -20px;  opacity: 0; z-index: -1; } /* fade in */
    19% { top: 0px;    opacity: 1; z-index: 0; }  /* stop */
    26.5% { top: 0px;  opacity: 1; z-index: 0; }  /* stop */
    28.5% { top: 60px; opacity: 0; z-index: 0; } /* fade out */
    29% { top: -20px;  opacity: 0; z-index: -1; } /* reset */
}

@-webkit-keyframes text_animation4 {
    0%  { top: -20px;   opacity: 0; z-index: -1; }
    26.5% { top: -20px; opacity: 0; z-index: -1; } /* fade in */
    28.5% { top: 0px;   opacity: 1; z-index: 0; }  /* stop */
    36% { top: 0px;     opacity: 1; z-index: 0; }  /* stop */
    38% { top: 60px;    opacity: 0; z-index: 0; } /* fade out */
    39% { top: -20px;   opacity: 0; z-index: -1; }
}

@-webkit-keyframes text_animation5 {
    0%  { top: -20px;  opacity: 0; z-index: -1; }
    36% { top: -20px;  opacity: 0; z-index: -1; } /* fade in */
    38% { top: 0px;    opacity: 1; z-index: 0; }  /* stop */
    45.5% { top: 0px;  opacity: 1; z-index: 0; }  /* stop */
    47.5% { top: 60px; opacity: 0; z-index: 0; } /* fade out */
    48% { top: -20px;  opacity: 0; z-index: -1; }
}

@-webkit-keyframes text_animation6 {
    0%  { top: -20px;   opacity: 0; z-index: -1; }
    45.5% { top: -20px; opacity: 0; z-index: -1; } /* fade in */
    47.5% { top: 0px;   opacity: 1; z-index: 0; }  /* stop */
    55% { top: 0px;     opacity: 1; z-index: 0; }  /* stop */
    57% { top: 60px;    opacity: 0; z-index: 0; } /* fade out */
    58% { top: -20px;   opacity: 0; z-index: -1; }
}

@-webkit-keyframes text_animation7 {
    0%  { top: -20px;  opacity: 0; z-index: -1; }
    55% { top: -20px;  opacity: 0; z-index: -1; } /* fade in */
    57% { top: 0px;    opacity: 1; z-index: 0; }  /* stop */
    64.5% { top: 0px;  opacity: 1; z-index: 0; }  /* stop */
    66.5% { top: 60px; opacity: 0; z-index: 0; } /* fade out */
    67% { top: -20px;  opacity: 0; z-index: -1; }
}

@-webkit-keyframes text_animation8 {
    0%  { top: -20px;   opacity: 0; z-index: -1; }
    64.5% { top: -20px; opacity: 0; z-index: -1; } /* fade in */
    66.5% { top: 0px;   opacity: 1; z-index: 0; }  /* stop */
    74% { top: 0px;     opacity: 1; z-index: 0; }  /* stop */
    76% { top: 60px;    opacity: 0; z-index: 0; } /* fade out */
    77% { top: -20px;   opacity: 0; z-index: -1; }
}

@-webkit-keyframes text_animation9 {
    0%  { top: -20px;  opacity: 0; z-index: -1; }
    74% { top: -20px;  opacity: 0; z-index: -1; } /* fade in */
    76% { top: 0px;    opacity: 1; z-index: 0; }  /* stop */
    83.5% { top: 0px;  opacity: 1; z-index: 0; }  /* stop */
    85.5% { top: 60px; opacity: 0; z-index: 0; } /* fade out */
    86% { top: -20px;  opacity: 0; z-index: -1; }
}

@-webkit-keyframes text_animation10 {
    0%  { top: -20px;   opacity: 0; z-index: -1; }
    83.5% { top: -20px; opacity: 0; z-index: -1; } /* fade in */
    85.5% { top: 0px;   opacity: 1; z-index: 0; }  /* stop */
    93% { top: 0px;     opacity: 1; z-index: 0; }  /* stop */
    97% { top: 60px;    opacity: 0; z-index: 0; } /* fade out */
    100% { top: -20px;  opacity: 0; z-index: -1; }
}
